# =========================
# ENTORNO VIRTUAL
# =========================
venv/
env/

# =========================
# VARIABLES DE ENTORNO
# =========================
.env

# =========================
# CACHE PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# ARCHIVOS DEL SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log

# =========================
# CSV GRANDES O TEMPORALES
# =========================
*.tmp
*.bak

# =========================
# PYTEST
# =========================
.pytest_cache/

# =========================
# MYPY
# =========================
.mypy_cache/

# =========================
# COVERAGE
# =========================
.coverage
htmlcov/

# =========================
# BUILD
# =========================
dist/
build/

data/
csv

.csv

# =========================
# BASES DE DATOS LOCALES
# =========================
*.sqlite3
*.db
